Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["yarn lint", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

EAT-1547 [Brand Hub] Product Detailed Page - design inconsistency
  packages/gatsby-awd-components/src/components/Card/Card.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.module.scss
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/social-sharing-circle.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
Due: yarn lint, prettier --write

EAT-1496, 1535 category landing styles
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/CategoryLandingPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/CategoryLandingPage.tsx
Due: yarn lint, prettier --write

make products optional
  packages/gatsby-source-products/gatsby-node.js
  packages/gatsby-theme-recepedia/src/fragments/ProductImages.ts
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
Due: yarn lint

linter fixes
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
Due: yarn lint

build fixes
  packages/gatsby-source-content/createNodes.js
  packages/gatsby-theme-recepedia/.env
Due: none

sitemap fix
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

make category landing pages available for brazil
  packages/gatsby-source-content/data/categories.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

sitemap issues investigations
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

Revert "sitemap issues investigations"
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

EAT-1574, EAT-1499 nutritional hub styles, icon fix
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/partials/Attribute/Attribute.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.module.scss
Due: yarn lint, prettier --write

redirects map fix
  packages/gatsby-theme-recepedia/scripts/build/getRedirectRules.js
Due: none

product details content for different brands
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createProductPages.js
Due: none

fixed menu to be able to localize it
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/components.json
  packages/gatsby-theme-recepedia/@types/app-content/components/globalNavigation.d.ts
  packages/gatsby-theme-recepedia/src/components/Navigation/utils.ts
Due: yarn lint

human-friendly URLs for product pages
  packages/gatsby-theme-recepedia/gatsby-node.js
Due: none

redirects fixes
  packages/gatsby-theme-recepedia/scripts/build/getRedirectRules.js
Due: none

latinMap and additional dash for urls
  packages/gatsby-theme-recepedia/gatsby-node.js
Due: none

we don't need this config anymore as we store commands in netlify
  netlify.toml
Due: none

EAT-1271 Brand Hub. Product Detailed Page
  packages/gatsby-awd-components/src/@types/app-content/components/productNutrients.d.ts
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/models.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/models.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.tsx
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/models.ts
  packages/gatsby-awd-components/src/svgs/inline/cart.svg
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-products/createNodes.js
  packages/gatsby-source-products/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/product-data/product.d.ts
  packages/gatsby-theme-recepedia/scripts/build/createProductPages.js
  packages/gatsby-theme-recepedia/src/scss/_vars.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_mixins.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_mixins.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_brand.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/logo-maizena.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/whatsapp.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/youtube-simple.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/utils/getSortedProducts.ts
  packages/gatsby-theme-recepedia/src/utils/index.ts
Due: yarn lint, prettier --write

EAT-1559 [Brand Hub] Whats App icon is not displayed on the social sharing modal
  packages/gatsby-awd-components/src/components/SocialSharing/partials/SocialSharingBase.tsx
  packages/gatsby-theme-recepedia/src/svgs/inline/whatsapp.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
Due: yarn lint

MX articles from mock
  packages/gatsby-source-content/createNodes.js
  packages/gatsby-source-content/data/articles-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/package.json
  packages/gatsby-theme-recepedia/src/fragments/Article.ts
  packages/gatsby-theme-recepedia/src/fragments/ArticleAssets.ts
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  yarn.lock
Due: yarn lint

configs enhancements: support for different locales. 'locale' arg should be provided to run the app
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/app-config/index.js
  packages/gatsby-theme-recepedia/gatsby-config.js
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createRemoteImageNode.js
  packages/gatsby-theme-recepedia/scripts/utils.js
Due: none

Timetamp is different depending on time when you fetch config
  packages/gatsby-theme-recepedia/app-config/index.js
Due: none

EAT-1559, EAT-1587, EAT-1547, EAT-1575, EAT-1585
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/BrandHero/BrandHero.tsx
  packages/gatsby-theme-recepedia/src/components/BrandHero/models.ts
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_mixins.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_brand.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/bow-white.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

configs updates
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/gatsby-config.js
Due: none

content-porting for MX
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
Due: none

content-porting for MX - categories
  packages/gatsby-source-content/data/categories-mx.json
Due: none

EAT-1596 [Homepage] Width of carousel is changed after click Next button on Safari 12
  packages/gatsby-theme-recepedia/src/scss/_theme.scss
Due: prettier --write

contact us page handling through content file for different locales
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-source-rms/createNodes.js
  packages/gatsby-theme-recepedia/src/staticPages/ContactUs/index.tsx
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

Remove hardcoded urls and update urls for MX
  packages/gatsby-awd-components/src/components/ContactCard/__tests__/__snapshots__/Card.test.tsx.snap
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/__tests__/__snapshots__/RecipeDietaryAttributes.test.tsx.snap
  packages/gatsby-awd-components/src/components/RecipeMicrodata/__tests__/__snapshots__/RecipeMicrodata.test.tsx.snap
  packages/gatsby-awd-components/src/components/Reviews/__tests__/__snapshots__/Reviews.test.tsx.snap
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchInput/models.ts
  packages/gatsby-awd-components/src/components/SearchInput/partials/SearchResults/SearchResults.tsx
  packages/gatsby-awd-components/src/components/SearchInput/partials/SearchResults/__tests__/SearchResults.test.tsx
  packages/gatsby-awd-components/src/components/SearchInput/partials/SearchResults/__tests__/__snapshots__/SearchResults.test.tsx.snap
  packages/gatsby-awd-components/src/components/SearchInput/partials/SearchResults/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/Layout/Layout.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/Navigation/Navigation.tsx
  packages/gatsby-theme-recepedia/src/components/Search/GlobalSearch.tsx
  packages/gatsby-theme-recepedia/src/staticPages/ContactForm/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/utils/getPagePath.ts
  packages/gatsby-theme-recepedia/src/utils/getSitemapFromPaths.ts
Due: yarn lint

knorr maizena promise pages
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/internal/article.d.ts
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseHellmanns/index.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseKnorr/index.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseMaizena/index.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/mapArticlesListingContent.tsx
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_theme.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/spikelet.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/wave-white.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/youtube.svg
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageMaizena.module.scss
Due: yarn lint, prettier --write

EAT-1581, 1501, 1598 style fixes
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseKnorr/index.tsx
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.module.scss
Due: yarn lint, prettier --write

FAQ page
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
Due: none

EAT-1549 brand images upload to AEM
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/BrandHero/BrandHero.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseHellmanns/index.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseKnorr/index.tsx
  packages/gatsby-theme-recepedia/src/components/BrandPromise/BrandPromiseMaizena/index.tsx
  packages/gatsby-theme-recepedia/src/constants.ts
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageKnorr.module.scss
Due: yarn lint, prettier --write

EAT-1555,1556 product landing pages styles
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/LookByCategory/LookByCategory.tsx
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_theme.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
Due: yarn lint, prettier --write

EAT-1633 [Single Recipe] Nutrition Hub page is not opened after click dietary icon
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/RecipeDietaryAttributes.tsx
  packages/gatsby-source-content/data/categories-mx.json
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/themeDefaultComponentProps.tsx
Due: yarn lint

EAT-1562 All Articles Landing (Content Hub)
  packages/gatsby-awd-components/src/@types/app-content/article.d.ts
  packages/gatsby-awd-components/src/components/GlobalNavigation/GlobalNavigation.module.scss
  packages/gatsby-awd-components/src/components/MediaGallery/MediaGallery.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/models.ts
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/app-content/article.d.ts
  packages/gatsby-theme-recepedia/package.json
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
  packages/gatsby-theme-recepedia/scripts/build/updateElasticsearch.js
  packages/gatsby-theme-recepedia/src/components/withArticleAsyncLoadMore/index.ts
  packages/gatsby-theme-recepedia/src/components/withArticleAsyncLoadMore/models.ts
  packages/gatsby-theme-recepedia/src/components/withArticleAsyncLoadMore/withArticleAsyncLoadMore.tsx
  packages/gatsby-theme-recepedia/src/components/withInitialDataAndAsyncLoadMore/index.ts
  packages/gatsby-theme-recepedia/src/components/withRecipeAsyncLoadMore/WithRecipeAsyncLoadMore.tsx
  packages/gatsby-theme-recepedia/src/components/withRecipeAsyncLoadMore/index.ts
  packages/gatsby-theme-recepedia/src/components/withRecipeAsyncLoadMore/models.ts
  packages/gatsby-theme-recepedia/src/fragments/Article.ts
  packages/gatsby-theme-recepedia/src/scss/components/MediaGallery/_media-gallery.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_articleHub.scss
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint, prettier --write

EAT-1634 avoid quiz data duplication
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
Due: yarn lint

lock-file update
  yarn.lock
Due: none

EAT-1433[Recipe Category] Duplicate tags are present on some pages
  packages/gatsby-awd-components/src/components/Tags/Tags.tsx
Due: yarn lint
