Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

disable FAQ page
  packages/gatsby-source-content/data/components.json
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
Due: none

EAT-1451 Hide Articles from Search page
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint, prettier --write

EAT-1437 [Content Hub] Recipes are shown twice on Hamburger page
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
Due: yarn lint

EAT-1455 [User Profile] Recipe page is opened on a new tab after click recipe on Favorites/Meal Plan tab
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
Due: yarn lint

EAT-1453 EAT-1370 favorite icon fix
  packages/gatsby-theme-recepedia/src/scss/components/RecipeCard/_recipe-card.scss
Due: prettier --write

tests for new components fixes according code review
  packages/gatsby-awd-components/src/components/Card/ProductCardWrapper.tsx
  packages/gatsby-awd-components/src/components/Card/RecipeCardWrapper.tsx
  packages/gatsby-awd-components/src/components/Card/__tests__/Card.test.tsx
  packages/gatsby-awd-components/src/components/Card/index.ts
  packages/gatsby-awd-components/src/components/Card/models.ts
  packages/gatsby-awd-components/src/components/GenericCarousel/__tests__/GenericCarousel.test.tsx
  packages/gatsby-awd-components/src/components/GenericCarousel/index.ts
  packages/gatsby-awd-components/src/components/Listing/__tests__/Listing.test.tsx
  packages/gatsby-awd-components/src/stories/card.stories.tsx
Due: yarn lint

prevent html entities escape
  packages/gatsby-awd-components/src/components/RecipeMicrodata/RecipeMicrodata.tsx
Due: yarn lint

EAT-1456 [Single Recipe] Kritique widget is not loaded when recipe page is opened from some page
  packages/gatsby-awd-components/src/components/Rating/Rating.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListingCarousel.tsx
  packages/gatsby-awd-components/src/components/Reviews/Reviews.tsx
  packages/gatsby-awd-components/src/utils/useKritiqueReload.ts
  packages/gatsby-theme-recepedia/integrations/Kritique/Kritique.tsx
  packages/gatsby-theme-recepedia/integrations/Kritique/index.ts
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint

EAT-1459 [Search Results] Filer is not applied to search query after click Show more button
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
Due: yarn lint

EAT-1463 [Global Navigation] Sub-menu expands by click Down button
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Menu/Menu.tsx
Due: yarn lint

EAT-1488 [Search Results] Search result is not changed after apply filter and click Search button
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
Due: yarn lint

EAT-1494 [Search Results] Recipes ordering is changed in the Result list after click Show more recipes button
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
Due: yarn lint

products
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-source-products/createNodes.js
  packages/gatsby-source-products/gatsby-node.js
  packages/gatsby-source-products/index.js
  packages/gatsby-source-products/package.json
  packages/gatsby-source-products/yarn.lock
  packages/gatsby-theme-recepedia/.env
  packages/gatsby-theme-recepedia/@types/internal/product.d.ts
  packages/gatsby-theme-recepedia/@types/product-data/product.d.ts
  packages/gatsby-theme-recepedia/gatsby-config.js
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/package.json
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
  packages/gatsby-theme-recepedia/scripts/build/createProductPages.js
  packages/gatsby-theme-recepedia/scripts/build/getPageTemplate.js
  packages/gatsby-theme-recepedia/scripts/constants.js
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
Due: yarn lint, prettier --write

brand promise style
  packages/gatsby-awd-components/src/components/Card/Card.tsx
  packages/gatsby-awd-components/src/components/Listing/Listing.tsx
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/scss/_vars.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_fonts.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/index.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_fonts.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/index.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_fonts.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/index.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_brand.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/backslash-light.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/backslash.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/bow-white.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/logo-hellmanns.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/logo-knorr.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/logo-maizena.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/triangle-blue.svg
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageMaizena.module.scss
Due: yarn lint, prettier --write

[WIP]: EAT-1270 Brand Hub. Products Landing Page
  packages/gatsby-awd-components/src/@types/app-content/components/listing.d.ts
  packages/gatsby-awd-components/src/components/BrandSocialChannels/BrandSocialChannels.tsx
  packages/gatsby-awd-components/src/components/Card/Card.tsx
  packages/gatsby-awd-components/src/components/Card/ProductCardWrapper.module.scss
  packages/gatsby-awd-components/src/components/Card/__tests__/__snapshots__/Card.test.tsx.snap
  packages/gatsby-awd-components/src/components/Card/models.ts
  packages/gatsby-awd-components/src/components/Listing/Listing.tsx
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-source-content/createNodes.js
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-products/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/app-content/page.d.ts
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
  packages/gatsby-theme-recepedia/src/components/LookByCategory/LookByCategory.module.scss
  packages/gatsby-theme-recepedia/src/components/LookByCategory/LookByCategory.tsx
  packages/gatsby-theme-recepedia/src/components/LookByCategory/index.ts
  packages/gatsby-theme-recepedia/src/components/LookByCategory/models.ts
  packages/gatsby-theme-recepedia/src/fragments/ProductImages.ts
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
Due: yarn lint, prettier --write

EAT-1293 brand hero banner
  packages/gatsby-awd-components/src/@types/app-content/components/link.d.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/BrandHero/BrandHero.module.scss
  packages/gatsby-theme-recepedia/src/components/BrandHero/BrandHero.tsx
  packages/gatsby-theme-recepedia/src/components/BrandHero/index.ts
  packages/gatsby-theme-recepedia/src/components/BrandHero/models.ts
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
Due: yarn lint, prettier --write

linter fixes
  package.json
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/index.ts
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/MealPlannerRenameDialog.tsx
  packages/gatsby-theme-recepedia/src/components/Search/GlobalSearch.tsx
  packages/gatsby-theme-recepedia/src/components/page/RecipeListing/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
  packages/gatsby-theme-recepedia/src/utils/useFavorite/useFavorite.ts
Due: yarn lint

brand products build fix
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
Due: yarn lint

EAT-1270 Brand Hub. Products Landing Page
  packages/gatsby-source-content/createNodes.js
Due: none

EAT-1057 Phase 2 - 2nd Navigation Layer drop-down menu positioning fix menu
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Navigation/Navigation.module.scss
Due: prettier --write

EAT-1271 Brand Hub. Product Detailed Page
  packages/gatsby-awd-components/src/@types/app-content/components/productCopy.d.ts
  packages/gatsby-awd-components/src/@types/app-content/components/productNutrients.d.ts
  packages/gatsby-awd-components/src/@types/internal/product.d.ts
  packages/gatsby-awd-components/src/@types/rms-data/product.d.ts
  packages/gatsby-awd-components/src/components/ProductCopy/ProductCopy.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/ProductCopy.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/index.ts
  packages/gatsby-awd-components/src/components/ProductCopy/models.ts
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyDescription.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyDescription.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyTitle.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyTitle.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/index.ts
  packages/gatsby-awd-components/src/components/ProductCopy/partials/models.ts
  packages/gatsby-awd-components/src/components/ProductHero/ProductHero.module.scss
  packages/gatsby-awd-components/src/components/ProductHero/ProductHero.tsx
  packages/gatsby-awd-components/src/components/ProductHero/index.ts
  packages/gatsby-awd-components/src/components/ProductHero/models.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/ProductNutrients.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/ProductNutrients.tsx
  packages/gatsby-awd-components/src/components/ProductNutrients/index.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/models.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.tsx
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/index.ts
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/models.ts
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/@types/internal/product.d.ts
  packages/gatsby-theme-recepedia/@types/product-data/product.d.ts
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
Due: yarn lint, prettier --write

EAT-1207 texts changes
  packages/gatsby-source-content/data/pages.json
Due: none

EAT-1152 meal planner text adjustment
  packages/gatsby-source-content/data/pages.json
Due: none

EAT-1393 404 page adjustments
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/NotFound/NotFound.module.scss
Due: prettier --write

EAT-1271 Brand Hub. Product Detailed Page (Storybook)
  packages/gatsby-awd-components/src/mocks/product.json
  packages/gatsby-awd-components/src/stories/productCopy.stories.tsx
  packages/gatsby-awd-components/src/stories/productHero.stories.tsx
  packages/gatsby-awd-components/src/stories/productNutrients.stories.tsx
Due: yarn lint

passing html lang from metadata
  packages/gatsby-theme-recepedia/gatsby-config.js
  packages/gatsby-theme-recepedia/src/components/Seo/Seo.tsx
Due: yarn lint

EAT-1525 brand products page styles
  packages/gatsby-awd-components/src/components/GenericCarousel/GenericCarousel.module.scss
  packages/gatsby-awd-components/src/components/GenericCarousel/GenericCarousel.tsx
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/LookByCategory/LookByCategory.module.scss
  packages/gatsby-theme-recepedia/src/components/LookByCategory/LookByCategory.tsx
  packages/gatsby-theme-recepedia/src/scss/_vars.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_brand.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/youtube.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
Due: yarn lint, prettier --write

EAT-1496 Recipe Category Landing page fixes according code review
  package.json
  packages/gatsby-awd-components/src/@types/app-content/components/listing.d.ts
  packages/gatsby-awd-components/src/components/Card/models.ts
  packages/gatsby-awd-components/src/components/CardLinkWrapper/CardLinkWrapper.tsx
  packages/gatsby-awd-components/src/components/CardLinkWrapper/models.ts
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Menu/Menu.tsx
  packages/gatsby-awd-components/src/components/Listing/Listing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeAddPlaceholder.model.ts
  packages/gatsby-source-content/createNodes.js
  packages/gatsby-source-content/data/categories-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/app-content/category.d.ts
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createCategoryPages.js
  packages/gatsby-theme-recepedia/scripts/constants.js
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/Navigation/utils.ts
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/CategoryLandingPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/CategoryLandingPage.tsx
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/helpers.tsx
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
Due: yarn lint, prettier --write

accessibility fix for modal and logo
  packages/gatsby-awd-components/src/components/Modal/Modal.tsx
Due: yarn lint

modal fix for storybook
  packages/gatsby-awd-components/src/components/Modal/Modal.tsx
Due: yarn lint

additional redirects
  packages/gatsby-theme-recepedia/scripts/build/generateRedirectMap.js
Due: none

EAT-1538 home quiz titles changes
  packages/gatsby-source-content/data/pages.json
Due: none

EAT-1500 Recipe nutritional icons EAT-1497 Nutritional Hub
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/RecipeDietaryAttributes.tsx
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/models.ts
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/partials/Attribute/Attribute.tsx
  packages/gatsby-awd-components/src/components/RecipeDietaryAttributes/partials/Attribute/models.ts
  packages/gatsby-awd-components/src/components/constants.ts
  packages/gatsby-source-content/data/categories-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/app-content/category.d.ts
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createCategoryPages.js
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/themeDefaultComponentProps.tsx
Due: yarn lint, prettier --write

Revert "EAT-1538 home quiz titles changes"
  packages/gatsby-source-content/data/pages.json
Due: none

robots.txt improvements
  packages/gatsby-theme-recepedia/gatsby-config.js
Due: none

EAT-1271 Brand Hub. Product Detailed Page Design
  packages/gatsby-awd-components/src/components/ProductCopy/ProductCopy.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyAllergens.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyDescription.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.module.scss
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyIngredients.tsx
  packages/gatsby-awd-components/src/components/ProductCopy/partials/ProductCopyTitle.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/ProductNutrients.module.scss
  packages/gatsby-awd-components/src/components/ProductNutrients/ProductNutrients.tsx
  packages/gatsby-awd-components/src/components/ProductNutrients/partials/ProductNutrientsTable.module.scss
  packages/gatsby-awd-components/src/scss/_config.scss
  packages/gatsby-awd-components/src/svgs/inline/cart.svg
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-products/createNodes.js
  packages/gatsby-theme-recepedia/@types/product-data/product.d.ts
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/createProductPages.js
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/index.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/index.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/maizena/index.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageMaizena.module.scss
Due: yarn lint, prettier --write

invalid redirect fix
  packages/gatsby-theme-recepedia/scripts/build/generateRedirectMap.js
Due: none

EAT-1535, 1544, 1501 brand style fixes
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_brand.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/triangle-blue2.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePageHellmanns.module.scss
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.scss
