Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["yarn lint", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

Evidon script injection commented
  src/html.js
Due: none

EAT-1107 [Homepage] MP page is opened after click image in the MP block
  src/components/lib/components/Hero/Hero.tsx
  src/components/lib/components/Hero/models.ts
  src/staticPages/Home/index.tsx
Due: yarn lint

updated text and indent
  src/components/data/pages.json
  src/scss/components/Wizard/_result.wizard.scss
Due: prettier --write

EAT-1116 [Homepage] One recipe is shown in Top Recipes block after pass the Quiz
  src/staticPages/Home/helpers.ts
Due: yarn lint

EAT-1119 Hide newsletter subscription block in footer for newsletter signup page
  src/components/Layout/Layout.tsx
  src/staticPages/NewsletterSignUp/index.tsx
Due: yarn lint

EAT-514 [All Recipes] Newest is not a default sorting option
  src/staticPages/AllRecipes/index.tsx
Due: yarn lint

updated indent EAT-960 , EAT-1053 , 1115
  src/components/data/pages.json
  src/scss/components/RecipeListing/_recipe-listing.scss
  src/scss/components/Wizard/_result.wizard.scss
  src/staticPages/MealPlanner/mealPlanner.module.scss
  src/staticPages/Search/index.tsx
  src/staticPages/Search/search.module.scss
Due: yarn lint, prettier --write

updated images and icons
  src/scss/components/AdaptiveImage/_adaptive-image.scss
  src/scss/components/RecipeDietaryAttributes/_recipe-dietary-attributes.scss
Due: prettier --write

EAT-1123 sitemap links fix, 651 meal planner button position fix
  src/components/lib/components/Sitemap/partials/SitemapCategory.tsx
  src/scss/components/Wizard/_intro.wizard.scss
Due: yarn lint, prettier --write

EAT-1126 fixed bug
  src/staticPages/MealPlanner/mealPlanner.module.scss
Due: prettier --write

updated tags
  src/scss/components/Tags/_tags.scss
Due: prettier --write

EAT-1127 contact page external links sign
  src/scss/_theme.scss
  src/scss/components/GeneratedForm/_form.scss
  src/scss/components/GlobalFooter/_global-footer.scss
Due: prettier --write

updated terms and cond
  src/components/data/pages.json
  src/staticPages/TermsAndConditions/termsAndConditions.module.scss
Due: prettier --write

SVG images change implementation (EAT-1084), fixes for loadmore (EAT-1134)
  @types/internal/localImage.d.ts
  gatsby-config.js
  gatsby-node.js
  package.json
  scripts/build/createDefaultPages.js
  scripts/build/createRemoteImageNode.js
  src/components/data/pages.json
  src/components/lib/components/AdaptiveImage/AdaptiveImage.tsx
  src/components/lib/components/AdaptiveImage/models.ts
  src/templates/ContentHubPage/ContentHubPage.tsx
  src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  stories/adaptiveImage.stories.tsx
Due: yarn lint

fix according pull request comments
  @types/app-content/components/wizardResultsSection.d.ts
  src/components/data/pages.json
  src/components/lib/components/Wizard/partials/ResultSection/ResultSection.tsx
  src/components/lib/components/Wizard/partials/ResultSection/models.ts
  src/constants.ts
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

updated meal Planner external link and terms&conditions list types
  src/staticPages/MealPlanner/mealPlanner.module.scss
  src/staticPages/TermsAndConditions/termsAndConditions.module.scss
Due: prettier --write

Additional fix for EAT-1096, preconnect elasticSearch, fix digitalData, commented GA plugin
  .env
  gatsby-config.js
  integrations/DigitalData/DigitalData.tsx
  src/html.js
  src/staticPages/NewsletterSignUp/index.tsx
Due: yarn lint

updated Eat-1135/1127
  src/components/data/pages.json
Due: none

EAT-1136 -changed images in quiz and meal planner step 2
  scripts/build/createDefaultPages.js
  src/components/data/pages.json
  src/scss/components/Wizard/_quiz.wizard.scss
Due: prettier --write

updated Eat-1121
  src/components/data/pages.json
  src/components/lib/components/GeneratedForm/partials/GeneratedField/GeneratedField.tsx
Due: yarn lint

EAT-1079 scroll quiz to top on question change
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
Due: yarn lint

Change logic fro relateRecipes search
  scripts/build/createRecipePages.js
  src/templates/RecipePage/RecipePage.tsx
Due: yarn lint

fixed title collapse
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
Due: prettier --write

EAT-1127 contact us form external links fix
  src/components/data/pages.json
Due: none

Improved image quality
  scripts/build/createDefaultPages.js
Due: none

EAT-1137 gigya style fix, EAT-1132 quiz scroll fix
  src/scss/_gigya.scss
  src/scss/components/Modal/_modal.scss
  src/scss/components/Wizard/_initial-quiz.wizard.scss
Due: prettier --write

Remove redirects map logging
  scripts/build/generateRedirectMap.js
Due: none

EAT-969 relative font size for html
  src/scss/_theme.scss
Due: prettier --write

EAT-651 Meal Planner Get started button location fix
  src/scss/components/Wizard/_intro.wizard.scss
Due: prettier --write

EAT-1125 Create DataCapturing form for home page quiz
  .env
  src/components/DataCapturingForm/DataCapturingForm.module.scss
  src/components/DataCapturingForm/DataCapturingForm.tsx
  src/components/DataCapturingForm/helpers.ts
  src/components/DataCapturingForm/index.ts
  src/components/DataCapturingForm/models.ts
  src/components/data/pages.json
  src/components/lib/components/GeneratedForm/GeneratedForm.tsx
  src/components/lib/components/GeneratedForm/partials/FormInstance/FormInstance.tsx
  src/components/lib/components/Wizard/Wizard.tsx
  src/components/page/IntroQuiz/index.tsx
  src/components/page/IntroQuiz/models.ts
Due: yarn lint, prettier --write

EAT-1121 font size for options intro
  src/staticPages/ContactForm/ContactForm.module.scss
Due: prettier --write

EAT-1132 -reverted changes
  src/scss/components/Modal/_modal.scss
  src/scss/components/Wizard/_initial-quiz.wizard.scss
Due: prettier --write

EAT-1084 - quiz image font change
  src/components/data/pages.json
Due: none

EAT-1125 dataCapturing form styles
  src/components/data/pages.json
  src/scss/components/GeneratedForm/_form.scss
  src/scss/components/Wizard/_general.wizard.scss
  src/scss/components/Wizard/_initial-quiz.wizard.scss
Due: prettier --write

EAT-1148 Create DataCapturing form for meal planner
  .env
  src/components/data/pages.json
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

Hide Kritique widgets for invalid recipes
  src/templates/RecipePage/RecipePage.tsx
Due: yarn lint

fixed ie lag scroll
  src/scss/components/Modal/_modal.scss
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
Due: prettier --write

Fixed issue with string var injected in innerHTML
  integrations/DigitalData/DigitalData.tsx
Due: yarn lint

EAT-1125 dataCapturing form styles
  src/components/data/components.json
  src/components/data/pages.json
  src/scss/components/Wizard/_general.wizard.scss
Due: prettier --write

EAT-1158 initial state for tabs
  src/components/lib/components/Tabs/Tabs.tsx
Due: yarn lint
