Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["yarn lint", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

fix(tracking): tracking issues for event (#883)
  src/components/page/IntroQuiz/index.tsx
  src/tracking/quiz-tracking.ts
Due: yarn lint

config generator improvement to support any branch name
  app-config/index.js
Due: none

EAT-1324 Fix redirect map
  scripts/build/generateRedirectMap.js
  scripts/build/getRedirectRules.js
Due: none

workspaces set up [theme inself runs, but website based on theme fails]
  br.recepedia.com/.env
  br.recepedia.com/app-config/index.js
  br.recepedia.com/gatsby-config.js
  br.recepedia.com/package.json
  br.recepedia.com/yarn.lock
  themes/gatsby-source-content/createNodes.js
  themes/gatsby-source-content/data/components.json
  themes/gatsby-source-content/data/pages.json
  themes/gatsby-source-content/gatsby-node.js
  themes/gatsby-source-content/index.js
  themes/gatsby-source-content/package.json
  themes/gatsby-source-content/yarn.lock
  themes/gatsby-source-rms/apiService.js
  themes/gatsby-source-rms/createNodes.js
  themes/gatsby-source-rms/gatsby-node.js
  themes/gatsby-source-rms/index.js
  themes/gatsby-source-rms/package.json
  themes/gatsby-source-rms/yarn.lock
  themes/gatsby-theme-recepedia/package.json
  yarn.lock
Due: none

app-config corner-case handling (local development)
  app-config/index.js
Due: none

EAT-1326 img sizes fix
  src/components/lib/components/Wizard/partials/IntroductionPanel/IntroductionPanel.tsx
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/lib/components/Wizard/partials/Quiz/models.ts
  src/constants.ts
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

meal planner and hero image size fix
  scripts/build/createDefaultPages.js
  src/components/lib/components/Hero/Hero.tsx
  src/components/lib/components/Hero/models.ts
  src/components/lib/components/Wizard/partials/IntroductionPanel/IntroductionPanel.tsx
  src/components/lib/components/Wizard/partials/IntroductionPanel/models.ts
  src/constants.ts
  src/staticPages/AllRecipes/index.tsx
  src/staticPages/Home/index.tsx
  src/staticPages/MealPlanner/index.tsx
  src/staticPages/Search/index.tsx
  src/templates/ArticlePage/ArticlePage.tsx
  src/templates/ContentHubPage/ContentHubPage.tsx
  src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  src/templates/RecipePage/RecipePage.tsx
Due: yarn lint

EAT-1341 edge layout fix
  src/scss/components/RecipeListing/_recipe-listing.scss
Due: prettier --write

refactoring fix according code review
  package.json
  packages/gatsby-awd-components/src/components/Button/Button.tsx
  packages/gatsby-awd-components/src/components/Button/models.ts
  packages/gatsby-awd-components/src/components/Carousel/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListingCarousel.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/index.ts
  packages/gatsby-awd-components/src/components/RecipeListing/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeAddPlaceholder.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeCard.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeCard.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeListingTrivial.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/index.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeAddPlaceholder.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeCard.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeFilter.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeListingTrivial.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/index.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-awd-components/src/mocks/RecipeListing.tsx
  packages/gatsby-awd-components/src/mocks/recipes.json
  packages/gatsby-awd-components/src/stories/recipeCard.stories.tsx
  packages/gatsby-awd-components/src/stories/recipeListing.stories.tsx
  packages/gatsby-awd-components/src/stories/searchListing.stories.tsx
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/themeDefaultComponentProps.tsx
  packages/gatsby-theme-recepedia/src/utils/useFavorite/useFavorite.ts
Due: yarn lint, prettier --write

image crop fix
  src/scss/components/Hero/_planner.hero.scss
  src/scss/components/PageListing/_page-listing-item.scss
Due: prettier --write

remove netlify file-based configuration
  packages/gatsby-theme-recepedia/netlify.toml
Due: none

Phase 2 - Add filters to Search result listing
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/Filters.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeFilter.model.ts
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/themeDefaultComponentProps.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint, prettier --write

EAT-1051 meal planer introduction page image update
  src/components/data/pages.json
Due: none

EAT-1346 [Search Results] Blank page is displayed after click Down button before search suggestions list is shown
  src/components/lib/components/SearchInput/SearchInput.tsx
Due: yarn lint

EAT-1207 Translate Nutritional Table
  packages/gatsby-awd-components/src/components/RecipeNutrients/partials/RecipeNutrientsTable.tsx
  packages/gatsby-source-content/data/components.json
Due: yarn lint

EAT-1363 [Search Results] No results page does not match to the design
  packages/gatsby-awd-components/src/components/RecipeListing/partials/Filters.tsx
  packages/gatsby-source-content/data/pages.json
Due: yarn lint

EAT-1367,1360,1361,1362,895,1365,1355 style fixes
  packages/gatsby-awd-components/src/components/RecipeNutrients/RecipeNutrients.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/IntroductionPanel/IntroductionPanel.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/Quiz.module.scss
  packages/gatsby-theme-recepedia/src/scss/components/GlobalFooter/_global-footer.scss
  packages/gatsby-theme-recepedia/src/scss/components/RecipeAttributes/_recipe-attribute-card.scss
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/UserProfile.module.scss
Due: prettier --write

EAT-1355, 1364, 1357,1350
  packages/gatsby-awd-components/src/components/GlobalNavigation/GlobalNavigation.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/partials/FilterSettings.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeCard.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.module.scss
Due: prettier --write

fix common js error from newrelic monitoring
  src/tracking/LinkTracking.jsx
Due: none

redirects map update for popular pages
  scripts/build/getRedirectRules.js
Due: none

redirects map fix
  scripts/build/generateRedirectMap.js
  scripts/build/getRedirectRules.js
Due: none

EAT-1152 Phase 2 - Meal Plan naming by User change meal plan name modal styles fixes according code review
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/components/DataCapturingForm/DataCapturingForm.tsx
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/MealPlannerRenameDialog.tsx
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/index.ts
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/models.ts
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/mealPlanner.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/utils/browserStorage/config.ts
  packages/gatsby-theme-recepedia/src/utils/browserStorage/models.ts
Due: yarn lint, prettier --write

Fix custom recipe selector behavior (remove already added recipes from results)
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
Due: yarn lint

redirects map improvements
  scripts/build/generateRedirectMap.js
Due: none

add netlify file-based configuration
  netlify.toml
Due: none

faq page and footer link
  packages/gatsby-awd-components/src/components/Accordion/Accordion.tsx
  packages/gatsby-awd-components/src/components/GlobalFooter/GlobalFooter.module.scss
  packages/gatsby-awd-components/src/components/GlobalFooter/GlobalFooter.tsx
  packages/gatsby-awd-components/src/components/GlobalFooter/partials/Menu/Menu.tsx
  packages/gatsby-awd-components/src/components/GlobalFooter/partials/Menu/models.ts
  packages/gatsby-source-content/data/components.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
  packages/gatsby-theme-recepedia/src/scss/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/_vars.scss
  packages/gatsby-theme-recepedia/src/scss/components/GlobalFooter/_global-footer.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/index.tsx
Due: yarn lint, prettier --write

PROD update: (images quality fixes, enhanced tracking, maionesegourmet page update) #895 PROD update 11/28 (EAT-1346, redirect map improvements, NR js fix) #907 PROD update 30/11 (redirects map) #911
  packages/gatsby-awd-components/src/components/Hero/Hero.tsx
  packages/gatsby-awd-components/src/components/Hero/models.ts
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/Wizard/partials/IntroductionPanel/IntroductionPanel.tsx
  packages/gatsby-awd-components/src/components/Wizard/partials/IntroductionPanel/models.ts
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/Quiz.tsx
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/models.ts
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/app-config/index.js
  packages/gatsby-theme-recepedia/scripts/build/createDefaultPages.js
  packages/gatsby-theme-recepedia/scripts/build/generateRedirectMap.js
  packages/gatsby-theme-recepedia/scripts/build/getRedirectRules.js
  packages/gatsby-theme-recepedia/src/components/page/IntroQuiz/index.tsx
  packages/gatsby-theme-recepedia/src/constants.ts
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/tracking/LinkTracking.jsx
  packages/gatsby-theme-recepedia/src/tracking/quiz-tracking.ts
  packages/gatsby-theme-recepedia/static/maionesegourmet/assets/scripts/main.js
  packages/gatsby-theme-recepedia/static/maionesegourmet/index.html
Due: yarn lint

stale shanges trasferred
  packages/gatsby-awd-components/src/components/Hero/Hero.module.scss
  packages/gatsby-awd-components/src/components/PageListing/partials/PageListingItem/PageListingItem.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/partials/RecipeListingTrivial.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/IntroductionPanel/IntroductionPanel.tsx
Due: yarn lint, prettier --write

lost scripts
  package.json
Due: none

moving buildspec to proper place
  scripts/ci/buildspec-lint.yml
  scripts/ci/buildspec-storybook-static.yml
  scripts/ci/buildspec-storybook.yml
Due: none

EAT-1327 Creating kritique inline component
  packages/gatsby-awd-components/src/components/Rating/Rating.tsx
  packages/gatsby-awd-components/src/components/Rating/models.ts
  packages/gatsby-awd-components/src/components/RecipeCard/RecipeCard.tsx
  packages/gatsby-awd-components/src/components/RecipeCard/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListingCarousel.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeListingTrivial.model.ts
  packages/gatsby-awd-components/src/components/Reviews/Reviews.tsx
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/models/ratings&reviews.ts
  packages/gatsby-awd-components/src/svgs/inline/rating.svg
  packages/gatsby-theme-recepedia/integrations/Kritique/Kritique.tsx
  packages/gatsby-theme-recepedia/src/html.js
  packages/gatsby-theme-recepedia/src/scss/components/RecipeCard/_recipe-card.scss
  packages/gatsby-theme-recepedia/src/scss/components/RecipeRating/_recipe-rating.scss
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/svgs/inline/loader.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/rating.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/star.svg
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

EAT-1381[Meal Planner] Recipe search issues
  packages/gatsby-awd-components/src/components/Wizard/partials/ResultSection/ResultSection.tsx
  packages/gatsby-awd-components/src/components/Wizard/partials/ResultSection/models.ts
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
Due: yarn lint

EAT-1147 Phase 2 - Search Listing [All | Recipes | Articles tabs]
  packages/gatsby-awd-components/src/components/Filter/Filter.module.scss
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
  packages/gatsby-awd-components/src/components/Filter/__tests__/Filters.test.tsx
  packages/gatsby-awd-components/src/components/Filter/index.ts
  packages/gatsby-awd-components/src/components/Filter/models/Filter.model.ts
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.module.scss
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.tsx
  packages/gatsby-awd-components/src/components/Filter/utils/helpers.tsx
  packages/gatsby-awd-components/src/components/Filter/utils/index.ts
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/models.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/index.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeAddPlaceholder.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/RecipeFilter.model.ts
  packages/gatsby-awd-components/src/components/RecipeListing/partials/models/index.ts
  packages/gatsby-awd-components/src/components/RecipeListing/utils/index.ts
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchInput/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-awd-components/src/mocks/RecipeListing.tsx
  packages/gatsby-awd-components/src/utils/camelCaseToNormal.ts
  packages/gatsby-awd-components/src/utils/enumToArray.ts
  packages/gatsby-awd-components/src/utils/index.ts
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/scss/components/MediaGallery/_media-gallery.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
  packages/gatsby-theme-recepedia/src/utils/useElasticSearch/models.ts
Due: yarn lint, prettier --write

EAT-1382 [Meal Planner] Blank page is shown after delete last recipe from MP Results list
  packages/gatsby-awd-components/src/components/Wizard/Wizard.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1383, 1387, 1391, 1392, 1394, 1395, 1396 style fixes
  packages/gatsby-awd-components/src/components/Wizard/Wizard.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/Quiz.module.scss
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_wizard-result.wizard.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
Due: prettier --write
