Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

EAT-1201 [Newsletter sign up] Form is loaded twice
  src/staticPages/NewsletterSignUp/index.tsx
Due: yarn lint

build(gatsby): upgrade and remove file hashes (#811)
  gatsby-node.js
  package.json
  yarn.lock
Due: none

EAT-1209 Сhange ID's for data capturing Q&A pairs
  src/components/data/pages.json
Due: none

EAT-1051 Images quality
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/lib/components/Wizard/partials/Quiz/models.ts
  src/components/lib/components/Wizard/partials/Quiz/partials/Multi/Multi.tsx
  src/components/lib/components/Wizard/partials/Quiz/partials/Option/Option.tsx
  src/components/lib/components/Wizard/partials/Quiz/partials/Option/models.ts
  src/components/lib/components/Wizard/partials/Quiz/partials/Question/Question.tsx
  src/components/lib/components/Wizard/partials/Quiz/partials/Question/models.ts
  src/components/lib/components/Wizard/partials/Quiz/partials/Single/Single.tsx
  src/components/page/IntroQuiz/index.tsx
  src/components/page/IntroQuiz/models.ts
  src/constants.ts
  src/staticPages/Home/index.tsx
Due: yarn lint

EAT-1208 Contact Us> Hide Contact Us form fix according code review
  src/staticPages/ContactUs/index.tsx
  src/utils/getSitemapFromPaths.ts
Due: yarn lint

EAT-1109 Click on Sorting dropdown doesn't collapse
  src/components/lib/components/RecipeListing/partials/Filters.tsx
Due: yarn lint

es config updates
  .env
  README.md
  app-config/index.js
  gatsby-node.js
  scripts/build/updateElasticsearch.js
Due: none

updated quiz btn text
  src/components/data/pages.json
Due: none

update preference center page url
  src/components/data/pages.json
Due: none

Analytics (#835)
  .env
  gatsby-browser.js
  integrations/DigitalData/DigitalData.tsx
  src/html.js
  src/staticPages/AllRecipes/AllRecipes.module.scss
  src/tracking/LinkTracking.jsx
  src/tracking/ct-constants.js
  src/tracking/index.js
  src/tracking/page-view-tracking.js
Due: yarn lint, prettier --write

feat(tracking): quiz steps and completion
  .eslintrc.js
  .gitignore
  app-config/index.js
  global.d.ts
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/page/IntroQuiz/index.tsx
  src/tracking/quiz-tracking.ts
  tsconfig.json
Due: yarn lint

EAT-1217 Change Meal Planner Sign Up Order
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1227 When you update your search term, the url does not get updated
  src/components/Search/GlobalSearch.tsx
  src/staticPages/Search/index.tsx
Due: yarn lint

refactor(hooks): passes tracking as callbacks
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/lib/components/Wizard/partials/Quiz/models.ts
  src/components/page/IntroQuiz/index.tsx
  src/tracking/quiz-tracking.ts
Due: yarn lint

captcha for data capturing form
  src/components/data/pages.json
Due: none

EAT-1234 Mealplanner>Mealplanner quiz answers are not sent (its IDs are absent in the request)
  @types/app-content/components/wizardQuiz.d.ts
  src/components/data/pages.json
Due: yarn lint

EAT-1051 set renditions for meal planner
  src/constants.ts
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1249 [Quiz] Form is not sent after re-pass without editing fields
  src/components/lib/components/GeneratedForm/GeneratedForm.tsx
Due: yarn lint

meal planner recipe images renditions update
  src/constants.ts
Due: yarn lint

updated text
  src/components/data/pages.json
Due: none

EAT-1051 1278 new logo and wizard images quality
  package.json
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/lib/components/Wizard/partials/Quiz/models.ts
  src/components/page/IntroQuiz/index.tsx
  src/components/page/IntroQuiz/models.ts
  src/constants.ts
  src/staticPages/Home/index.tsx
  src/staticPages/MealPlanner/index.tsx
  src/svgs/inline/logo.svg
  src/svgs/inline/wizard-logo.svg
Due: yarn lint

EAT-1299 button style fix
  src/scss/_gigya.scss
Due: prettier --write

EAT-1249 [Quiz] Form is not sent after re-pass without editing fields EAT-1268 Hide Form after submit and send request in background
  integrations/RecaptchaV3/RecaptchaV3.tsx
  integrations/RecaptchaV3/index.ts
  package.json
  src/components/DataCapturingForm/DataCapturingForm.tsx
  src/components/lib/components/GeneratedForm/GeneratedForm.tsx
  src/components/lib/components/GeneratedForm/models.ts
  src/components/lib/components/GeneratedForm/partials/FormInstance/FormInstance.tsx
  src/staticPages/ContactForm/index.tsx
  yarn.lock
Due: yarn lint

logo color fix
  src/svgs/inline/logo.svg
  src/svgs/inline/wizard-logo.svg
Due: none

EAT-1304 Sitemap.xml has url with wrong domain
  gatsby-config.js
Due: none

image quality fix attempt for edge
  src/scss/components/AdaptiveImage/_adaptive-image.scss
  src/scss/components/RecipeCard/_recipe-card.scss
  src/scss/components/Wizard/_quiz.wizard.scss
Due: prettier --write

feat(tracking): updates quiz tracking
  src/components/page/IntroQuiz/index.tsx
  src/tracking/quiz-tracking.ts
Due: yarn lint

refactor(tracking): add component to digitalData
  global.d.ts
  src/tracking/quiz-tracking.ts
Due: yarn lint

refactor(tracking): change constant
  src/tracking/quiz-tracking.ts
Due: yarn lint

EAT-1305 adding favorite icon to meal planner at user profile
  src/staticPages/UserProfile/index.tsx
Due: yarn lint

EAT-1305 [Meal Planner] Favorites button and rating are not displayed in MP Result carousel
  src/components/lib/components/Rating/Rating.tsx
  src/staticPages/UserProfile/index.tsx
Due: yarn lint

refactor(tracking): further refinement
  .eslintrc.js
  integrations/DigitalData/DigitalData.tsx
  package.json
  src/tracking/index.js
  yarn.lock
Due: yarn lint

fix(tracking): fixes page view tracking
  src/html.js
  src/tracking/ct-constants.js
  src/tracking/index.js
  src/tracking/page-view-tracking.js
  src/tracking/quiz-tracking.ts
  static/config/newRelic.js
Due: yarn lint

fix(tracking): further safety checks for digitalData
  src/tracking/index.js
Due: none

refactor(tracking): move digitalData config
  integrations/DigitalData/DigitalData.tsx
  src/tracking/index.js
Due: yarn lint

new images for quiz
  src/components/data/pages.json
Due: none

refactor(tracking): digitalData access (#878)
  integrations/DigitalData/DigitalData.tsx
  src/html.js
  src/tracking/quiz-tracking.ts
Due: yarn lint

new link in /maionesegourmet/ recipe
  static/maionesegourmet/assets/scripts/main.js
  static/maionesegourmet/index.html
Due: none

Path conditions:
  yarn lint: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.scss
