Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["yarn lint", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

EAT-1124 Move Gigya form screensets Ids, API key and Language to .env config
  .env
  src/staticPages/NewsletterSignUp/index.tsx
  src/staticPages/PreferenceCenter/index.tsx
Due: yarn lint

EAT-1132 scroll fix
  src/scss/components/Modal/_modal.scss
  src/scss/components/Wizard/_initial-quiz.wizard.scss
Due: prettier --write

EAT-1159 valid checkbox color
  src/components/data/pages.json
  src/scss/components/GeneratedForm/_form.scss
  src/staticPages/ContactForm/ContactForm.module.scss
Due: prettier --write

EAT-1148 Create DataCapturing form for meal planner
  @types/app-content/components/wizardResultsSection.d.ts
  src/components/DataCapturingForm/models.ts
  src/components/data/pages.json
  src/components/lib/components/Wizard/Wizard.tsx
  src/components/lib/components/Wizard/partials/IntroductionPanel/models.ts
  src/components/lib/components/Wizard/partials/Quiz/models.ts
  src/components/lib/components/Wizard/partials/ResultSection/ResultSection.tsx
  src/components/lib/components/Wizard/partials/ResultSection/models.ts
  src/components/lib/components/globalModels.ts
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1148 Create DataCapturing form for meal planner
  src/components/data/pages.json
Due: none

Apply remote category images. Fixed imageSizes for listings and heros
  gatsby-node.js
  plugins/gatsby-source-content/createNodes.js
  scripts/build/createCategoryPages.js
  scripts/build/createDefaultPages.js
  src/components/lib/components/PageListing/PageListing.tsx
  src/components/lib/components/PageListing/PageListingCarousel.tsx
  src/components/lib/components/PageListing/models.ts
  src/components/lib/components/PageListing/partials/PageListingItem/PageListingItem.tsx
  src/components/lib/components/PageListing/partials/PageListingItem/models.ts
  src/components/lib/components/Wizard/partials/Quiz/partials/Option/Option.tsx
  src/constants.ts
  src/fragments/Category.ts
  src/staticPages/AllRecipes/index.tsx
  src/staticPages/Home/home.module.scss
  src/staticPages/Home/index.tsx
  src/staticPages/MealPlanner/index.tsx
  src/staticPages/Search/index.tsx
  src/staticPages/UserProfile/index.tsx
  src/templates/ContentHubPage/ContentHubPage.tsx
  src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

Apply form styles for meal planner
  src/scss/_globalComponents.scss
  src/scss/pages/_mealPlanner.scss
Due: prettier --write

EAT-650,1163,1165,1166 meal planner style fixes
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/scss/components/Wizard/_finish.wizard.scss
  src/scss/components/Wizard/_form.wizard.scss
  src/scss/components/Wizard/_general.wizard.scss
  src/scss/components/Wizard/_index.scss
  src/scss/components/Wizard/_signup.wizard.scss
  src/staticPages/MealPlanner/index.tsx
  src/staticPages/MealPlanner/mealPlanner.module.scss
Due: yarn lint, prettier --write

fixing scroll
  src/scss/components/Modal/_modal.scss
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
Due: prettier --write

EAT-1167 meal planner privacy position fix
  src/components/lib/components/BackToTop/BackToTop.module.scss
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/scss/components/Wizard/_initial-quiz.wizard.scss
  src/staticPages/MealPlanner/mealPlanner.module.scss
Due: yarn lint, prettier --write

fixing quiz
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
  src/scss/components/Wizard/_initial-quiz.wizard.scss
Due: prettier --write

disable countrySelector export
  src/components/lib/components/index.ts
Due: yarn lint

fixes according code review
  src/components/lib/components/Button/Button.tsx
  src/components/lib/components/Button/models.ts
  src/components/lib/components/GlobalNavigation/GlobalNavigation.tsx
  src/components/lib/components/GlobalNavigation/partials/Menu/Menu.tsx
  src/components/lib/components/GlobalNavigation/partials/Menu/models.ts
  src/components/lib/components/GlobalNavigation/partials/Navigation/Navigation.tsx
  src/components/lib/components/constants.ts
  src/scss/components/GlobalNavigation/_global-nav.scss
Due: yarn lint, prettier --write

fixed logo
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
  stories/countrySelector.stories.tsx
Due: yarn lint, prettier --write

fixed logo
  src/scss/components/Wizard/_initial-quiz.wizard.scss
  stories/countrySelector.stories.tsx
Due: yarn lint, prettier --write

updated filter
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
Due: prettier --write

fix keyboard behavior
  src/components/lib/components/GlobalNavigation/partials/Menu/Menu.tsx
Due: yarn lint

updated modal filter
  src/scss/components/RecipeListing/_filter-settings.recipe-listing.scss
Due: prettier --write

Adding uniquie ID attribute to select options
  src/components/lib/components/Select/Select.tsx
Due: yarn lint

Change imports on Pages to not load all components fix according code review
  src/components/page/RecipeListing/index.tsx
Due: yarn lint

EAT-1181-812-Favorites-button-is-in-inactive-state-after-scroll-Result-Carousel-Favorites-icon-is-active-in-Top-Recipes-after-remove-recipe-from-favorites
  src/components/lib/components/RecipeListing/utils/helpers.ts
Due: yarn lint

Adding uniquie ID attribute to select options
  src/components/lib/components/RecipeListing/partials/Filters.tsx
  src/components/lib/components/Select/Select.tsx
Due: yarn lint

EAT-1175 Newsletter signup form doesn't appear when the page is opened by direct link
  src/components/data/pages.json
  src/staticPages/NewsletterSignUp/index.tsx
Due: yarn lint

select onChange method fix
  src/components/lib/components/Select/Select.tsx
Due: yarn lint

EAT-1186-Sitemap-IE-freezes-onSitemap-page
  src/components/lib/components/Sitemap/partials/SitemapCategory.tsx
Due: yarn lint

EAT-1186 [All recipes] Sorting order cannot be changed
  src/components/lib/components/RecipeListing/partials/Filters.tsx
Due: yarn lint

EAT-1185 Data capturing form with pre-populated fields fix according code review
  src/components/DataCapturingForm/DataCapturingForm.tsx
  src/components/DataCapturingForm/models.ts
  src/utils/browserStorage/config.ts
  src/utils/browserStorage/models.ts
Due: yarn lint

EAT-1180 Update home page carousels logic fix according code review
  src/staticPages/Home/helpers.ts
  src/staticPages/Home/index.tsx
  src/utils/getPersonalizationSearchData.ts
Due: yarn lint

EAT-1183 Contact us thank you page + styles
  scripts/build/createDefaultPages.js
  src/components/data/pages.json
  src/staticPages/ContactForm/index.tsx
  src/staticPages/ContactUsThankYou/ContactUsThankYou.module.scss
  src/staticPages/ContactUsThankYou/index.tsx
Due: yarn lint, prettier --write

EAT-1140 Previous MP result is dropped when no recipes are found in the new MP result
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

updated thankYou
  src/scss/pages/_thankYouPage.scss
  src/staticPages/ContactUsThankYou/index.tsx
Due: yarn lint, prettier --write

EAT-1198 no meal planner results button color fix
  src/components/lib/components/Wizard/partials/ResultSection/ResultSection.tsx
Due: yarn lint

EAT-1184 Add unique attribute to each column of filters expanded view
  src/components/lib/components/Accordion/Accordion.tsx
  src/components/lib/components/Accordion/models.ts
  src/components/lib/components/RecipeListing/partials/FilterSettings.tsx
Due: yarn lint

EAT-1202 [Meal Planner] Extra symbol displayed on MP with no results
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1192 Refactor 'Try weekly planning' button to anchor tag
  src/components/lib/components/Hero/Hero.tsx
  src/scss/components/Hero/_planner.hero.scss
Due: yarn lint, prettier --write

EAT-1191 Capture Q&A pairs and send it with PII data to transactional service API fixes according code review
  .env
  src/components/DataCapturingForm/DataCapturingForm.tsx
  src/components/DataCapturingForm/dataCapturingResultMapping.ts
  src/components/DataCapturingForm/models.ts
  src/components/data/pages.json
  src/components/lib/components/Wizard/partials/Quiz/Quiz.tsx
  src/components/page/IntroQuiz/index.tsx
  src/services/form.service.ts
  src/services/transactionalServiceAdapter.ts
  src/staticPages/ContactForm/index.tsx
  src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1206 Production build fails on netlify
  gatsby-config.js
Due: none

EAT-1172 [Quiz, User Preferences] Recipes are not changed in carousels after pass the Quiz with filled form
  src/components/page/IntroQuiz/index.tsx
Due: yarn lint
