Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

EAT-1384 [Meal Planner] Modals are not styled after second passing of MP Quiz
  package.json
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/MealPlannerRenameDialog.tsx
  packages/gatsby-theme-recepedia/src/components/MealPlannerRenameDialog/index.ts
  packages/gatsby-theme-recepedia/src/scss/pages/_mealPlanner.scss
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
Due: yarn lint, prettier --write

EAT-1386 && EAT-1381
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
Due: yarn lint

EAT-1385 [Meal Planner] First search query is displayed during the second search in heading
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
Due: yarn lint

EAT-1389 [Meal Planner] Title form previous Meal Plan is shown on Result page
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/models.ts
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
Due: yarn lint

Develop mock optimization
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/mocks/global.ts
Due: yarn lint

EAT-1363 search result page styles
  packages/gatsby-awd-components/src/@types/app-content/components/recipeListing.d.ts
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
  packages/gatsby-awd-components/src/components/NullResult/NullResult.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
Due: yarn lint, prettier --write

EAT-1385 [Meal Planner] First search query is displayed during the second search in heading
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/hepers.ts
Due: yarn lint

EAT-1403 [Meal Planner] Length of text is not limited in New Title field
  packages/gatsby-awd-components/src/components/GeneratedForm/partials/Input/Input.tsx
  packages/gatsby-awd-components/src/components/GeneratedForm/partials/Input/models.ts
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/@types/app-content/components/generatedForm.d.ts
Due: yarn lint

EAT-1390 [Meal Planner] No Result page design inconsistency
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
Due: yarn lint

EAT-1381, 1397, 1398, 1408, 1404(2,3,5) style fixes
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-awd-components/src/components/Tags/Tags.tsx
  packages/gatsby-theme-recepedia/src/scss/components/RecipeRating/_recipe-rating.scss
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_wizard-result.wizard.scss
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
Due: yarn lint, prettier --write

redirects map, 404 page improvements
  scripts/build/generateRedirectMap.js
  src/components/data/pages.json
  src/staticPages/NotFound/index.tsx
Due: yarn lint

EAT-1399 [Meal Planner] Number of recipes is invalid in Result listing on Mobile
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
Due: yarn lint

page 404 carousel styles
  src/scss/pages/_notFound.scss
Due: prettier --write

additional styles for 404
  src/scss/pages/_notFound.scss
Due: prettier --write

faq page styles loading fix
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/index.tsx
Due: yarn lint, prettier --write

EAT-1413 [Meal Planner] Search Results page is opened instead of MP Search Results page
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchInput/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
Due: yarn lint

EAT-1369 [User Profile] Answer is not deleted after fist click the Delete button
  packages/gatsby-awd-components/src/components/UserPreferences/partials/PreferencesQuiz/partials/PreferenceEntry.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
Due: yarn lint

EAT-1400 Сhange campaign ID's for Meal Planner and Intro quiz
  packages/gatsby-theme-recepedia/.env
  packages/gatsby-theme-recepedia/src/components/DataCapturingForm/DataCapturingForm.tsx
  packages/gatsby-theme-recepedia/src/components/DataCapturingForm/models.ts
  packages/gatsby-theme-recepedia/src/components/page/IntroQuiz/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
Due: yarn lint

EAT-1402 [Search Results] Search result does not contain articles
  packages/gatsby-theme-recepedia/gatsby-node.js
Due: none

EAT-1414 search fix
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/index.tsx
Due: yarn lint, prettier --write

redirects fix
  scripts/build/generateRedirectMap.js
Due: none

EAT-1415 [Meal Planner] error appears in console after try to search a specific word
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/hepers.ts
Due: yarn lint

EAT-1381 [Meal Planner] Recipe search issues
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/hepers.ts
Due: yarn lint

EAT-1416 EAT-1417
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
Due: yarn lint, prettier --write

fix
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/hepers.ts
Due: yarn lint

EAT-1418 article styles and new faq content
  packages/gatsby-awd-components/src/components/VideoPlayer/VideoPlayer.tsx
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/share-bold.svg
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
Due: yarn lint, prettier --write

EAT-1419 [Search Results] Suggestions list is not appears on the Search Results page
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchInput/models.ts
  packages/gatsby-theme-recepedia/src/components/Search/GlobalSearch.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint

EAT-1423 [Search Results] Filters are applied before click Apply filters button
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
Due: yarn lint

EAT-1371 [Search Results] Applied tags list is displayed after a new search with filters applied
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
  packages/gatsby-awd-components/src/components/Filter/models/Filter.model.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
Due: yarn lint

EAT-1432 [Search Results] Tag is displayed as active in Filters modal after remove it from tags list
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.tsx
Due: yarn lint

merge with changes from PR #932, 935, 942
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/scripts/build/generateRedirectMap.js
  packages/gatsby-theme-recepedia/scripts/build/getRedirectRules.js
  packages/gatsby-theme-recepedia/src/scss/pages/_notFound.scss
  packages/gatsby-theme-recepedia/src/staticPages/NotFound/index.tsx
Due: yarn lint, prettier --write

EAT-1420,1421,1422,1424,1425 style fixes
  packages/gatsby-theme-recepedia/src/scss/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_wizard-result.wizard.scss
  packages/gatsby-theme-recepedia/src/scss/pages/_article.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/UserProfile.module.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
Due: yarn lint, prettier --write

EAT-1432, EAT-1435, EAT-1436
  packages/gatsby-awd-components/src/components/Filter/Filter.tsx
  packages/gatsby-awd-components/src/components/Filter/models/Filter.model.ts
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/models.ts
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-theme-recepedia/src/components/Search/GlobalSearch.tsx
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
Due: yarn lint

EAT-1438, EAT-1439
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.tsx
  packages/gatsby-awd-components/src/components/SearchInput/SearchInput.tsx
Due: yarn lint

EAT-1443 [Search Results] More than one filter are deleted after clicking the X button when you quickly remove the filters
  packages/gatsby-awd-components/src/components/Loader/Loader.module.scss
  packages/gatsby-awd-components/src/components/Loader/Loader.tsx
  packages/gatsby-awd-components/src/components/Loader/index.ts
  packages/gatsby-awd-components/src/components/Loader/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
Due: yarn lint, prettier --write

EAT-1445 [Search Results] Filters button moves down when the search contains a long query
  packages/gatsby-theme-recepedia/src/staticPages/Search/search.module.scss
Due: prettier --write

EAT-1157, EAT-315, EAT-1152 add translation and remove "use autosuggestion"
  packages/gatsby-source-content/data/pages.json
Due: none

redirect rules according to the request
  packages/gatsby-theme-recepedia/scripts/build/generateRedirectMap.js
Due: none

EAT-943 reverted Add to favorite icon style
  packages/gatsby-theme-recepedia/src/scss/components/Button/_versions.button.scss
  packages/gatsby-theme-recepedia/src/scss/components/RecipeCard/_recipe-card.scss
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/UserProfile.module.scss
  packages/gatsby-theme-recepedia/src/themeDefaultComponentProps.tsx
Due: yarn lint, prettier --write

Path conditions:
  yarn lint: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.scss
