Repository szymonunilever/test-br-recepidia-: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx}": ["yarn lint", "git add"],
  "**/*.scss": ["prettier --write", "git add"]
}

EAT-1572 [Global Navigation] Sub-menu cannot be expanded on Mobile
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Menu/Menu.tsx
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Navigation/Navigation.module.scss
Due: yarn lint, prettier --write

EAT-1594 [Recipe Category] Search page is not opened after click Brand Logo in listing
  packages/gatsby-awd-components/src/components/MediaGallery/MediaGallery.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/models.ts
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/RecipeCard/RecipeCard.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-awd-components/src/context/appContext.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Home/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/index.tsx
  packages/gatsby-theme-recepedia/src/templates/CategoryLandingPage/CategoryLandingPage.tsx
  packages/gatsby-theme-recepedia/src/templates/ContentHubPage/ContentHubPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint

quiz images q1,q2
  packages/gatsby-source-content/data/pages-mx.json
Due: none

Dictionary translation to Spanish
  packages/gatsby-source-content/data/components-mx.json
Due: none

EAT-1635 Integrate with images service (articles)
  packages/gatsby-awd-components/src/@types/internal/article.d.ts
  packages/gatsby-awd-components/src/components/MediaGallery/MediaGallery.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/models.ts
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/@types/internal/article.d.ts
  packages/gatsby-theme-recepedia/gatsby-config.js
  packages/gatsby-theme-recepedia/src/fragments/Article.ts
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
Due: yarn lint

EAT-1476, 1520 meal planer options withou image, brand links unique attributes
  packages/gatsby-awd-components/src/components/Wizard/partials/IntroductionPanel/IntroductionPanel.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/Quiz.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/Quiz/Quiz.tsx
  packages/gatsby-awd-components/src/scss/_config.scss
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/BrandHero/BrandHero.tsx
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_index.scss
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_initial-quiz.wizard.scss
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_quiz.wizard.scss
Due: yarn lint, prettier --write

EAT-1563 Article Detailed Page
  packages/gatsby-awd-components/src/components/Card/Card.module.scss
  packages/gatsby-awd-components/src/components/Card/Card.tsx
  packages/gatsby-awd-components/src/components/Card/models.ts
  packages/gatsby-awd-components/src/components/Hero/Hero.module.scss
  packages/gatsby-awd-components/src/components/Hero/Hero.tsx
  packages/gatsby-awd-components/src/components/Hero/models.ts
  packages/gatsby-awd-components/src/components/SocialSharing/SocialSharing.module.scss
  packages/gatsby-awd-components/src/components/SocialSharing/SocialSharing.tsx
  packages/gatsby-awd-components/src/components/SocialSharing/models.ts
  packages/gatsby-awd-components/src/components/SocialSharing/partials/SocialSharingBase.tsx
  packages/gatsby-awd-components/src/components/SocialSharing/partials/models.ts
  packages/gatsby-awd-components/src/mocks/global.ts
  packages/gatsby-awd-components/src/scss/_config.scss
  packages/gatsby-source-content/data/components-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/@types/app-content/article.d.ts
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/index.tsx
  packages/gatsby-theme-recepedia/src/svgs/inline/social-sharing-circle.svg
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/utils/getPagePath.ts
Due: yarn lint, prettier --write

contentEndpoint changes
  packages/gatsby-theme-recepedia/.env.es-mx
Due: none

EAT-1504 recipe detailed page print
  packages/gatsby-awd-components/src/components/AdaptiveImage/AdaptiveImage.tsx
  packages/gatsby-awd-components/src/components/AdaptiveImage/models.ts
  packages/gatsby-awd-components/src/components/RecipeHero/RecipeHero.tsx
  packages/gatsby-theme-recepedia/src/scss/components/Button/_versions.button.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/print.svg
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

EAT-1635 images for categories
  packages/gatsby-source-content/createNodes.js
  packages/gatsby-source-content/data/categories-mx.json
  packages/gatsby-source-content/gatsby-node.js
Due: none

EAT-1669 All Articles landing page - design inconsistency
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/components/withArticleAsyncLoadMore/withArticleAsyncLoadMore.tsx
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/ArticleHub.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/index.tsx
Due: yarn lint, prettier --write

additional updates for dictionary translation (MX)
  packages/gatsby-source-content/data/components-mx.json
Due: none

EAT-1695 [Article] Branded article page - design inconsistency
  packages/gatsby-awd-components/src/components/Card/Card.module.scss
  packages/gatsby-theme-recepedia/src/scss/components/MediaGallery/_media-gallery.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
Due: yarn lint, prettier --write

EAT-1576, 1676 branded FAQs
  packages/gatsby-awd-components/src/components/Accordion/Accordion.tsx
  packages/gatsby-awd-components/src/components/Accordion/models.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/FAQ.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/FAQ/index.tsx
  packages/gatsby-theme-recepedia/src/svgs/inline/logo-hellmanns-filled.svg
  packages/gatsby-theme-recepedia/src/svgs/inline/logo.svg
Due: yarn lint, prettier --write

404 AllRecipes link
  packages/gatsby-theme-recepedia/src/staticPages/NotFound/index.tsx
Due: yarn lint

EAT-1511 Recipe. Branded/Unbranded title and logo
  packages/gatsby-awd-components/src/components/BrandLogo/BrandLogo.module.scss
  packages/gatsby-awd-components/src/components/BrandLogo/BrandLogo.tsx
  packages/gatsby-awd-components/src/components/BrandLogo/getBrandLogo.tsx
  packages/gatsby-awd-components/src/components/BrandLogo/index.ts
  packages/gatsby-awd-components/src/components/BrandLogo/models.ts
  packages/gatsby-awd-components/src/components/Card/Card.tsx
  packages/gatsby-awd-components/src/components/Hero/Hero.module.scss
  packages/gatsby-awd-components/src/components/Hero/Hero.tsx
  packages/gatsby-awd-components/src/components/MediaGallery/partials/MediaGalleryItem/MediaGalleryItem.tsx
  packages/gatsby-awd-components/src/components/RecipeCard/RecipeCard.tsx
  packages/gatsby-awd-components/src/components/SocialSharing/partials/SocialSharingBase.tsx
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-awd-components/src/stories/brandLogo.stories.tsx
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-source-products/createNodes.js
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandPromisePage/BrandPromisePage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/utils/getPagePath.ts
Due: yarn lint, prettier --write

EAT-1535, 1641, 1658, 1664, 1670, 1671, 1680 fixes
  packages/gatsby-awd-components/src/components/GlobalNavigation/GlobalNavigation.module.scss
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Navigation/Navigation.module.scss
  packages/gatsby-source-content/data/articles-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/src/scss/brands/hellmanns/_theme.scss
  packages/gatsby-theme-recepedia/src/scss/brands/knorr/_theme.scss
  packages/gatsby-theme-recepedia/src/svgs/inline/wave-white.svg
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageHellmanns.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageKnorr.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPageMaizena.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
Due: yarn lint, prettier --write

EAT-1689 Сonfigure Adobe Analytics for MX
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/src/html.js
Due: none

categories content v01 (+1 squashed commit) Squashed commits: [17c59d25] categories content v01
  packages/gatsby-source-content/data/categories-mx.json
Due: none

EAT-1466 Cook Time is Wrong
  packages/gatsby-awd-components/src/components/RecipeAttributes/RecipeAttributes.tsx
  packages/gatsby-awd-components/src/components/RecipeAttributes/models.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/scripts/build/createRecipePages.js
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint

disable newrelic for non-production environment
  packages/gatsby-theme-recepedia/src/html.js
Due: none

EAT-1514 Search Results. Listings
  packages/gatsby-awd-components/src/@types/app-content/components/productListing.d.ts
  packages/gatsby-awd-components/src/@types/internal/product.d.ts
  packages/gatsby-awd-components/src/@types/rms-data/product.d.ts
  packages/gatsby-awd-components/src/components/ProductListing/ProductListing.module.scss
  packages/gatsby-awd-components/src/components/ProductListing/ProductListing.tsx
  packages/gatsby-awd-components/src/components/ProductListing/index.ts
  packages/gatsby-awd-components/src/components/ProductListing/models.ts
  packages/gatsby-awd-components/src/components/ProductListing/partials/ProductListingItem/ProductListingItem.module.scss
  packages/gatsby-awd-components/src/components/ProductListing/partials/ProductListingItem/ProductListingItem.tsx
  packages/gatsby-awd-components/src/components/ProductListing/partials/ProductListingItem/index.ts
  packages/gatsby-awd-components/src/components/ProductListing/partials/ProductListingItem/models.ts
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.module.scss
  packages/gatsby-awd-components/src/components/SearchListing/SearchListing.tsx
  packages/gatsby-awd-components/src/components/SearchListing/models.ts
  packages/gatsby-awd-components/src/components/index.ts
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/gatsby-node.js
  packages/gatsby-theme-recepedia/scripts/build/updateElasticsearch.js
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/components/Search/GlobalSearch.tsx
  packages/gatsby-theme-recepedia/src/components/withArticleAsyncLoadMore/withArticleAsyncLoadMore.tsx
  packages/gatsby-theme-recepedia/src/components/withRecipeAsyncLoadMore/WithRecipeAsyncLoadMore.tsx
  packages/gatsby-theme-recepedia/src/staticPages/AllRecipes/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/staticPages/UserProfile/useFavoritesSearch.tsx
  packages/gatsby-theme-recepedia/src/utils/esResponseHandler.ts
  packages/gatsby-theme-recepedia/src/utils/searchUtils.ts
Due: yarn lint, prettier --write

EAT-1536 [PDP Template] Related Products section should be a listing on Mobile
  packages/gatsby-awd-components/src/components/Card/Card.tsx
  packages/gatsby-theme-recepedia/@types/product-data/product.d.ts
  packages/gatsby-theme-recepedia/scripts/build/createProductPages.js
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductsPage/BrandProductsPageHellmanns.module.scss
Due: yarn lint, prettier --write

EAT-1027 add header to meal planner
  packages/gatsby-awd-components/src/components/Wizard/Wizard.module.scss
  packages/gatsby-awd-components/src/components/Wizard/partials/SignUp/SignUp.module.scss
  packages/gatsby-awd-components/src/scss/_config.scss
  packages/gatsby-theme-recepedia/src/scss/components/Wizard/_wizard-result.wizard.scss
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/MealPlanner/mealPlanner.module.scss
Due: yarn lint, prettier --write

real images for products
  packages/gatsby-source-products/gatsby-node.js
  packages/gatsby-theme-recepedia/.env.es-mx
Due: none

EAT-1507 recipe video
  packages/gatsby-awd-components/src/components/VideoPlayer/VideoPlayer.tsx
  packages/gatsby-source-rms/createNodes.js
  packages/gatsby-source-rms/gatsby-node.js
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/@types/internal/recipe.d.ts
  packages/gatsby-theme-recepedia/@types/internal/video.d.ts
  packages/gatsby-theme-recepedia/@types/rms-data/recipeAssets.d.ts
  packages/gatsby-theme-recepedia/scripts/build/createRecipePages.js
  packages/gatsby-theme-recepedia/src/scss/pages/_recipePage.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

EAT-1702 Crownpeak issues fixes
  packages/gatsby-theme-recepedia/src/svgs/inline/wizard-logo.svg
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.tsx
Due: yarn lint, prettier --write

EAT-1476,1711 meal planner question 1 images, about us text styles
  packages/gatsby-source-content/data/pages-mx.json
Due: none

EAT-1689 additional analytics fix
  packages/gatsby-theme-recepedia/.env.es-mx
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/src/html.js
Due: none

EAT-1270, EAT-1578, EAT-1669, EAT-1758, EAT-1759, EAT-1725
  packages/gatsby-awd-components/src/components/Filter/partials/FilterSettings.module.scss
  packages/gatsby-awd-components/src/components/ProductListing/ProductListing.module.scss
  packages/gatsby-awd-components/src/components/ProductListing/ProductListing.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.module.scss
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-theme-recepedia/src/scss/components/MediaGallery/_media-gallery.scss
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/ArticleHub.module.scss
  packages/gatsby-theme-recepedia/src/staticPages/ArticlesHub/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/index.tsx
  packages/gatsby-theme-recepedia/src/staticPages/Search/useSearchResults.tsx
  packages/gatsby-theme-recepedia/src/templates/RecipePage/RecipePage.tsx
Due: yarn lint, prettier --write

EAT-1055,1057,1538,1539 - content changes, style fixes
  packages/gatsby-awd-components/src/components/Wizard/Wizard.module.scss
  packages/gatsby-source-content/data/categories.json
  packages/gatsby-source-content/data/pages.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/.env.pt-br
  packages/gatsby-theme-recepedia/src/scss/_gigya.scss
Due: prettier --write

EAT-1642 [Recipe Category page] Related articles
  packages/gatsby-source-content/data/articles-mx.json
  packages/gatsby-source-content/data/pages-mx.json
  packages/gatsby-source-content/gatsby-node.js
  packages/gatsby-theme-recepedia/@types/app-content/article.d.ts
  packages/gatsby-theme-recepedia/src/fragments/Article.ts
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
Due: yarn lint

mx categories content v02
  packages/gatsby-source-content/data/categories-mx.json
Due: none

mx category content v02 + order + z-index
  packages/gatsby-awd-components/src/components/GlobalNavigation/partials/Navigation/Navigation.module.scss
  packages/gatsby-source-content/data/categories-mx.json
Due: prettier --write

EAT-1714, EAT-1716, EAT-1765, EAT-1771, EAT-1772
  packages/gatsby-awd-components/src/components/BrandLogo/BrandLogo.tsx
  packages/gatsby-awd-components/src/components/BrandLogo/models.ts
  packages/gatsby-awd-components/src/components/RecipeCard/RecipeCard.tsx
  packages/gatsby-awd-components/src/components/RecipeListing/RecipeListing.tsx
  packages/gatsby-awd-components/src/components/UserPreferences/UserPreferences.tsx
  packages/gatsby-awd-components/src/context/appContext.ts
  packages/gatsby-theme-recepedia/src/components/MealPannerResults/MealPlannerResults.tsx
  packages/gatsby-theme-recepedia/src/templates/ArticlePage/ArticlePage.tsx
  packages/gatsby-theme-recepedia/src/templates/BrandProductDetailsPage/BrandProductDetailsPage.module.scss
  packages/gatsby-theme-recepedia/src/templates/RecipeCategoryPage/RecipeCategoryPage.tsx
Due: yarn lint, prettier --write
